*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }
  h1{
    width: 620px;
    border: 2px dotted grey;
    margin: 50px auto ;
    padding: 10px;
    text-align: center;
  }
  .wrapper{
    width:610px ;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-gap: 30px ;
    
  }
  .green , .red , .yellow , .blue{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    height:auto;
    background-color: aqua;
    height: 300px;
    width: 300px;
    line-height: 300px;
  }
  
  .green{
    background: #3def55;
  }
  .green:hover{
    background: #57faab;
  }
  .red{
    background: #cd3553;
  }
  .red:hover{
    background: #ee6161;
  }
  .yellow{
    background: #dada23;
  }
  .yellow:hover{
    background: #faf366;
  }
  
  .blue{
    background: #3498db;
  }
  .blue:hover{
    background: #3cb0fd;
  }
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  